


    <button  id="vmarque" class="btn btn-success btn-sm dropdown-toggle  " type="button" data-bs-toggle="dropdown" aria-expanded="false">
      marque
    </button>
    <ul id="filter-vmarque"  class="dropdown-menu">
      {% for  filtresM in Vmarques %}

      <li ><a   class="lien-filter" href="{{path('app_accueil', {'marque': filtresM.id})}}">{{filtresM}}</a></li>
      
        {% endfor %}
    </ul>
  

  
    <button id="vmodele" class="btn btn-success btn-sm dropdown-toggle   " type="button" data-bs-toggle="dropdown" aria-expanded="false">
      modele
    </button>
    <ul class="dropdown-menu">
      {% for modele in Vmodeles %}
    <li><a  id="filter-vmodel" class="lien-filter" href="{{path('app_accueil',{'modele': modele.id})}}">{{modele}}</a></li>
  {% endfor %}
    </ul>
  </div>
  

  

