




<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="annonces" style="color: white; text-decoration:none;" href="#"><i style="margin-right: 10px; color: white;" class=" icon-voiture  fa-solid fa-car"></i>{% trans %}shop{% endtrans %}</a>
          </li>      
          <li class="nav-item"  >
            <a id="atelier" style="color: white; text-decoration:none;" href=""><i style="margin-right: 10px; color:white;" class="fa-solid fa-screwdriver-wrench"></i>{% trans %}workshop{% endtrans %}</a>
          </li>
          <li class="nav-item"  >
            <a id="atelier" style="color: white; text-decoration:none;" href="/contact/new"><i style="margin-right: 10px; color: white;" class="fa-solid fa-envelope"></i>{% trans %}mail{% endtrans %}</a>
          </li>
            <ul>
             
              <li><a style="color: rgb(7, 7, 112); text-decoration: none;" href=""><strong>EN</strong></a></li>  
       </ul>
       
           {{  dump(locales) }}

       <div class="clock">
        <div class="wrap">
          <div class="heure">
            <div class="minute">
              <div class="seconde">
                <div class="dot">

                </div>

              </div>

            </div>

          </div>

        </div>

       </div>
      </div>
    </div>
  </nav>
  
           

    