




    {% for detail in details %}
      
      <div class="card  description-service" >
        {{detail.titre}}
          <br>
          <div class="pr">{{detail.description}}</div>
           <br>
          {{detail.tarifs}}
      </div>

  {% endfor %}
 


