

<div id="menu-services" style="display: none; background: blue; width:200px; margin-left: 50px; position: absolute; margin-top: -450px; padding: 20px;" >

    <button type="button" class="btn-close" aria-label="Close"></button>
    {% for services in service %}
    <a style="text-decoration: none; color: black; display: block; margin-left: 50px;" href="{{path('app_services_show',{'id': services.id})}}">{{services}}</a>


    {% endfor %}
</div>