{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}

<h1 style="margin-top: 35vh; margin-left: 40vw;">GARAGE PERROT</h1>
{% include "partials/_services.html.twig" %}
 
{% endblock %}
