{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}
     



{% block body %}
<div   id="bienvenue">

   <p id="msg-bienvenue"   style=" display:flex; color: #F89521; font-size:1.8em; justify-content:center; margin-top:20px;">nous vous conseillon dans le choix de votre nouvelle voiture, selon vos besoin</p>
</div>



 <div id="f-presta"  >

    {% include "partials/_filtre.html.twig" %}
 </div>

 <div id="filters-annonces" >
  {% include "partials/_filtresAnnonces.html.twig" %}

</div>

 <div id="cards-annonces" >

   {% include "partials/_annonces.html.twig" %}
   
</div>



{% endblock %}


