{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}


 <div  class="filtre">

    {% include "partials/_filtre.html.twig" %}
 </div>



   



<h1 style="margin-top: 35vh; margin-left: 40vw;">GARAGE PERROT</h1>


    

{% endblock %}
