{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}
     



{% block body %}

<p class="msg-bienvenue"   style=" display:flex; color: #F89521; font-size:1.8em; justify-content:center; margin-top:20px;">nous vous conseillon dans le choix de votre nouvelle voiture, selon vos besoin</p>


 <div  class="filtres-presta">

    {% include "partials/_filtre.html.twig" %}
 </div>

 <div class="filtres-annonces">
  {% include "partials/_filtresAnnonces.html.twig" %}

</div>

 <div class="annonces">

   {% include "partials/_annonces.html.twig" %}
   
</div>



{% endblock %}


