{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}




{% block body %}

{% include "partials/_services.html.twig" %}
 

<div class="card">
    <div class="card-header">
      <h4><strong style="color: blue;">{{detail.tarifs}}</strong>€</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{detail.titre}}</h5>
      <p class="card-text">{{detail.description}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
{% endblock %}
