{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}




{% block body %}

{% include "partials/_services.html.twig" %}

{% for modele in modeles %}

<ul>
  <li>{{modele}}</li>
</ul>
  
{% endfor %}
{% endblock %}
 