{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block stylesheets %}
    <style>
        .annonces{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    flex-wrap: wrap;
}
    </style>
{% endblock  %}

{% block body %}

<div class="annonces">
    {% include "partials/_annonces.html.twig" %}
    
</div>




{% endblock %}

