


{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
<div style="width: 200px; margin-left: 40vw; ">
    {% include "partials/_presta.html.twig" %}
</div>



{% endblock %}