


{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}


<div class="prestations">
    {% include "partials/_presta.html.twig" %}
</div>

{% endblock %}

